<div class="container">
  <form class="card border-success">
    <div class="card-header  text-success">
      <h4 class="card-title">Compose Post</h4>
    </div>
    <div class="card-body">
      <textarea rows="4" class="form-control" placeholder="What's in your mood..." name="status" #newstatus></textarea>
    </div>
    <div class="card-footer" style="text-align: center">
      <button class="btn btn-outline-success" style="width:10%" (click)="addPost(newstatus)">Post</button>
    </div>
  </form>

  <hr>

  <div class="card border-success">
    <div class="card-header  text-success">
      <h4 class="card-title">Feed</h4>
    </div>
    <div class="card-body">
      <app-list-of-status class="row" style=" margin-bottom: 20px" *ngFor="let post of posts" [post]="post">
      </app-list-of-status>
    </div>

  </div>

</div>